.row{
    padding-bottom: 10px;
}
.conocenos{
    background-image: url("../../../assets/img/fondo.png");
    background-size:fill ;

}
.col{
    display: grid;
    align-content:center;
    text-align: center;
}
.container-fluid{
    padding: 0 ;
    margin: 0;
}
.h2{
    font-size: 80px;
}
.img-conocenso{
    width: 550px;
}
.btn-container{
    padding:10px 0;
    margin: 20px;
}
.btn-conocenos{
    width: 200px;
    border: 2px #E5E900 solid;
    color: white;
    background:black;
    animation: 4s;
}
.btn-conocenos a{
    text-decoration: none;
    color: white;
}
.btn-conocenos:hover{
    transform: scale(1.3);
}

@media screen and (max-width: 576px) {
    
    .row{
        padding: 30px auto;
    }
    .col2{
        display: none;
    }
    .h2{
        padding-bottom: 20px;
        font-size: 34px;
    }
}

