<div>
    <div class="row">
        <div class="col">
          <h2 class="texto h2"> ¡ Bienvenidos !<br>a Syste+</h2>
          <p class="texto">Todos trabajamos bajo la ideolagía de ayudar y
            y ser ayudados, donde el seervir, sera la clave para alcanzar nuestros objetivos.
          </p>
          <div class="btn-container texto">
            <button class="btn-conocenos"><a href="https://chat.whatsapp.com/CSrFh5SALOpJixVEx8lKOK">Conocenos</a></button>
          </div>
        </div>
        <div class="col col2">
            <div>
              <img  src="../../../assets/img/syste.svg" class="img-conocenso" alt="...">
            </div>
        </div>
    </div>
</div>